<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="header" th:inline="text">

	<nav class="navbar navbar-inverse" >
	 	<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Grand Reserve</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
			      <li th:class="${activeMenuItem == 'home'} ? 'active' : ''" ><a th:href="@{/events/{id}/series/0 (id=${session.user.id})}" >Home</a></li>
			      <li th:class="${activeMenuItem == 'addEvent'} ? 'active' : ''"><a th:href="${displayedSeriesId == null} ? @{/events/{id}/add/0/ (id=${user.id})} : @{/events/{id}/add/{ids}/ (id=${user.id}, ids=${displayedSeriesId})}" th:text="#{event.add}">Event</a></li>
			      <li th:class="${activeMenuItem == 'series'} ? 'active' : ''"><a class="dropdown-toggle" th:href="@{/series/{id}/ (id=${user.id})}" th:text="#{event.series.list}">Series
			       </a></li>
			      <li th:class="${activeMenuItem == 'rooms'} ? 'active' : ''"><a th:href="@{/rooms/forUser/{id}/{ids}/ (id=${user.id}, ids=${displayedSeriesId})}" th:text="#{room.list}">Rooms</a></li>
			      <li th:class="${activeMenuItem == 'editUser'} ? 'active' : ''"><a th:href="@{/users/{id}/edit/(id=${user.id})}" th:text="#{user.edituser}" > </a>*</li>
			      <li><a th:text="${session.user.userName}"></a></li>
			      <li><a th:href="@{/logout}" th:text="#{user.logout}"></a></li>
		    </ul>
	  	</div>
	</nav> 
</div>

<div th:fragment="headerAdmin" th:inline="text">

	<nav class="navbar navbar-inverse" >
	  	<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Grand Reserve</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
			      <li th:class="${activeMenuItem == 'home'} ? 'active' : ''" ><a th:href="@{/users/adminPanel}" th:text="#{page.main.admin.menu}">Administrator home</a></li>
			      <li th:class="${activeMenuItem == 'places'} ? 'active' : ''"><a th:href="@{/places}" th:text="#{place.main.menu}">Sites</a></li>
			      <li th:class="${activeMenuItem == 'rooms'} ? 'active' : ''"><a th:href="@{/rooms/}" th:text="#{room.main.menu}">Rooms</a></li>
			
			      <li th:class="${activeMenuItem == 'series'} ? 'active' : ''"><a th:href="@{/series/{id}/ (id=${session.user.id})}" th:text="#{series.main.menu}">Series</a></li>
			      <li th:class="${activeMenuItem == 'eventTypes'} ? 'active' : ''"><a th:href="@{/eventTypes}" th:text="#{eventType.main.menu}" >Event types</a></li>
			      <li th:class="${activeMenuItem == 'events'} ? 'active' : ''"><a th:href="@{/events}" th:text="#{event.main.menu}" >Events</a></li>
			      <li th:class="${activeMenuItem == 'users'} ? 'active' : ''"><a  th:href="@{/users}" th:text="#{user.main.menu}">Users</a></li>
			      <li><a th:href="@{/logout}" th:text="#{user.logout}"></a></li>
		    </ul>
	  	</div>
	</nav> 
</div>

<div th:fragment="headerMain" th:inline="text">

	<nav class="navbar navbar-inverse" >
	 	<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/main}">Grand Reserve</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
			      <li><a th:href="@{/register}" th:text="#{user.signup}"></a></li>
			      <li><a th:href="@{/login}" th:text="#{user.login}"></a></li>
		    </ul>
	  	</div>
	</nav> 
</div>


</body>
</html>