
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<title th:text="#{event.edit.title}">Edit event</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

</head>

<body>

<div id="wrap">
    <div class="clear-top">

		<div class="header">
		    <div th:replace="fragments/header :: header">Header </div>
		</div>
		
		<div class="container">
			<h2 th:text="#{event.addevent}">*</h2>
			  <div class="col-md-6 col-sm-6 col-xs-12">
		        <form method="post" id="event-form" action="">
					
		            <div class="form-group">
		                <label class="form-label" for="dateStart" th:text="#{event.dateOfFirstEvent}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input" >
		     			   <input type="text" class="form-control col-md-7 col-xs-12" 
		     			   id="dateStart" name="dateOfFirstEvent" required="required"></input>
					</div>
		        </div>
		            
		            <div class="form-group">
		                <label class="form-label" for="hourStart" th:text="#{event.hour}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input" >
		     			   <input type="text" class="form-control col-md-7 col-xs-12 timepicker" 
		     			 name="hour" required="required"></input>
					</div>
		        </div>
		            
		            
		             <div class="form-group">
		                <label class="form-label" for="numberOfEvents" th:text="#{event.numberOfEvents}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input name="numberOfEvents" type="number" min="1" max="200" id="numberOfEvents" required="required"
		                           class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
		         
		           <div class="form-group">
		                <label class="form-label" for="eventCycleLength" th:text="#{event.eventCycleLength}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input name="eventCycleLength" type="number" min="1" max="365" id="eventCycleLength" required="required"
		                           class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
		                
		          <div class="form-group">
		                <label class="form-label" for="eventDuration" th:text="#{event.eventDuration}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <select class="form-control" id="eventDuration" name="eventDuration">
		                        <option  value="1" th:text="#{event.eventDuration.1}">*</option>
		                        <option  value="2" th:text="#{event.eventDuration.2}">*</option>
		                        <option  value="3" th:text="#{event.eventDuration.3}">*</option>
		                        <option  value="4" th:text="#{event.eventDuration.4}">*</option>
		                        <option  value="5" th:text="#{event.eventDuration.5}">*</option>
		                        <option  value="6" th:text="#{event.eventDuration.6}">*</option>
		                        <option  value="10" th:text="#{event.eventDuration.fullDay}">*</option>
		                        <option  value="12" th:text="#{event.eventDuration.tillEnd}">*</option>
		                    </select>
		                </div>
		               </div>
		
					               
		              <div class="form-group">
		                <label class="form-label" for="seats" th:text="#{event.seats}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input name="eventSeats" type="number" id="seats" min="1" max="20" required="required"
		                           class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
		
		 			<div class="form-group">
		                <label class="form-label" for="place" th:text="#{event.place.suggested}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <select class="form-control" id="place" name="placeId">
		                        <option th:each="place : ${ourPlaces}" th:value="${{place.id}}" th:text="${place.name}">Wireframe
                        </option>
							</select>
		                </div>
		            </div>
		                      
		            <div class="form-group">
		                <label class="form-label" for="eventType" th:text="#{event.series.eventType.name}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <select class="form-control" id="eventType" name="eventTypeId">
		                        <option th:each="eventType : ${ourEventTypes}" th:value="${{eventType.id}}" th:text="${eventType.name}">Wireframe
                        </option>
							</select>
		                </div>
		            </div>       
		
		             <div class="form-group">
		                <label class="form-label" for="client" th:text="#{event.client}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input name="client" type="text" id="client" 
		                           class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div><br/><br/>
		                      
		            <div class="form-group">
		                <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
		                <button type="submit" class="btn btn-success" th:text="#{submit}">*</button>
		            </div>
		
				</form>
			</div> 
		</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>

</body>

 
</html>
