
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" /> 
<link rel="stylesheet" th:href="@{/css/grandReserve.css}">
<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

<body>

  <h2 th:text="#{eventType.editeventType}">*</h2>
  <h3 th:text="${eventType.name}"></h3>

        <form method="post" id="eventType-form" th:action="@{/eventTypes/add}" th:object="${eventType}">
			<ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul> 		         

            <div class="form-eventType">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" th:text="#{eventType.name}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{name}" type="text" id="name" th:value="${eventType.name}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
           
              <div class="form-eventType">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description" th:text="#{eventType.description}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{description}" type="text" id="description" th:value="${eventType.description}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
           
 			<div class="ln_solid"></div>
            <div class="event-group">
                <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
                <button type="submit" class="btn btn-success" th:text="#{submit}">*</button>
            </div>

</form>
    
</body>
</html>
