<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h4 th:text="#{page.main.title}">*</h4>
<h2 th:text="#{page.main.admin}">*</h2>
<p><small><a th:href="@{/logout}" th:text="#{user.logout}">*</a></small></p>
<p><a th:href="@{/places}" th:text="#{place.main}">*</a></p>
<p><a th:href="@{/rooms}" th:text="#{room.main}">*</a></p>
<p><a th:href="@{/eventTypes}" th:text="#{eventType.main}">*</a></p>
<p><a th:href="@{/users}" th:text="#{user.main}">*</a></p>
<p><a th:href="@{/events}" th:text="#{event.main}">*</a></p>
<p><a th:href="@{/series/{id}/ (id=${user.id})}" th:text="#{series.main}">*</a></p>

</body>
</html>

