<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css">
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

<div class="header" th:with="ids=0">
	<div th:if="${session.user.userName == 'admin'}">
	    <div th:replace="fragments/header :: headerAdmin"></div>
	</div>
	<div th:if="${session.user.userName != 'admin'}">
	    <div th:replace="fragments/header :: header"></div>
	</div>
</div>

<div class="container">
  <h2 th:text="#{user.edituser} +' - ' + ${user.userName}">*</h2>
	 <div class="col-md-6 col-sm-6 col-xs-12">
        <form method="post" id="user-form" th:action="@{/users/{id}/edit/(id=${user.id})}" th:object="${user}">
			<ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul> 		         

            <div class="form-group">
                <label class="form-label" for="user-Name" th:text="#{user.username}"><span
                        class="required">*</span>
                </label>
                <div class="form-input">
       				<input th:field="*{userName}"  type="text"  id="user-name" required="required" th:value="${user.userName}"
                           class="form-control col-md-7 col-xs-12"/>
          		</div>
            </div>

            <div class="form-group">
                <label class="form-label" for="first-name" th:text="#{user.firstname}"><span
                        class="required">*</span>
                </label>
                <div class="form-input">
                    <input th:field="*{firstName}" type="text" id="first-name" th:value="${user.firstName}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
           
            <div class="form-group">
                <label class="form-label" for="last-Name" th:text="#{user.lastname}"><span
                        class="required">*</span>
                </label>
                <div class="form-input">
                    <input th:field="*{lastName}" type="text" id="last-name"  th:value="${user.lastName}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
        
            <div class="form-group">
                <label class="form-label" for="email" th:text="#{user.email}"><span
                        class="required">*</span>
                </label>
                <div class="form-input">
                    <input th:field="*{email}" id="email" th:value="${user.email}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
			<div th:if="${session.user.userName == 'admin'}">
	            <div class="form-group">
	   				<label class="form-label" th:text="#{user.enabled}"></label>
	                <div class="form-control col-md-7 col-xs-12">
	                  	<input type="radio" th:field="*{enabled}" th:value=true id="enabled"/>
	   					<label class="form-label" for="enabled" th:text="#{user.enabled.yes}"><span>*</span></label>
	                  	<input type="radio" th:field="*{enabled}" th:value=false id="enabled" />
	   					<label class="form-label" for="enabled" th:text="#{user.enabled.no}"><span>*</span></label>
	                </div>
	            </div>
			</div>
			<div th:if="${session.user.userName != 'admin'}">
				<div>
					<p><b th:text="#{user.enabled}"> </b><span th:text="${user.enabled == false} ? #{user.enabled.no} : #{user.enabled.yes}">*</span> </p>
				</div>            
            </div>

	        <div class="form-group">

	         	<label class="form-label" for="password" th:text="#{user.confirm.your.password}"><span
	                        class="required">*</span>
	            </label>
	            <div class="form-input">
	                    <input th:field="*{password}" type="password" id="password" required="required" value="${user.password}"
	                           class="form-control col-md-7 col-xs-12"/>
	            </div>
	        </div><br/><br/>
            <div class="form-group">
                    <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
                    <button type="submit" class="btn btn-success" th:text="#{submit}">*</button>
            </div>
	  </form>
   </div>
</div>

</body>

</html>
