
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" /> 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>    
<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" th:href="@{/css/grandReserve.css}">

<body>
  <h4 th:text="#{page.main.title}">*</h4>
  <h2 th:text="#{event.edit.page}">*</h2>
  <h3 th:text="#{user.username} + ' ' + ${user.userName}"></h3>
  <p th:text="#{event.series.eventType.name} + ' ' + ${event.series.eventType.name}"> </p>
  <p th:text="#{event.client} + ' ' + ${event.series.client}"> </p>
 
        <form method="post" id="event-form" th:action="@{/events/{id}/edit/{ide}/{ids} 
        (id=${user.id}, ide=${event.id}, ids=${displayedSeriesId})}" th:object="${event}">
			<ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul> 		         

            <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateStart" th:text="#{event.date}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{date}" type="text" id="dateStart" th:value="${event.date}" required="required"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
           
                     <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hour" th:text="#{event.hour}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{hour}" type="text" id="hour" th:value="${event.hour}" required="required"
                           class="form-control col-md-7 col-xs-12 timepicker"/>
                </div>
            </div>
         
        
          
          <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="eventDuration" th:text="#{event.eventDuration}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="eventDuration" th:field="*{eventDuration}">
                    	<option  th:value="1" th:text="#{event.eventDuration.1}">*</option>
                        <option  th:value="2" th:text="#{event.eventDuration.2}">*</option>
                        <option  th:value="3" th:text="#{event.eventDuration.3}">*</option>
                        <option  th:value="4" th:text="#{event.eventDuration.4}">*</option>
                        <option  th:value="5" th:text="#{event.eventDuration.5}">*</option>
                        <option  th:value="6" th:text="#{event.eventDuration.6}">*</option>
                        <option  th:value="10" th:text="#{event.eventDuration.fullDay}">*</option>
                        <option  th:value="12" th:text="#{event.eventDuration.tillEnd}">*</option>
                    </select>
                </div>
               </div>
          
          
          <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="seats" th:text="#{event.seats}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{eventSeats}" type="number" id="seats" min="1" max="20" 
                    		th:value="${event.eventSeats}" required="required"
                           	class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
            
            <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="series" 
                		th:text="#{event.series}"><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{series}" type="text" id="series"  
                    		th:value="${event.series}" required="required"
                           	class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
			<div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="place" th:text="#{event.place.suggested}"><span
                        class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="place" name="placeId">
                        <option th:each="place : ${ourPlaces}" th:value="${{place.id}}" th:text="${place.name}">Wireframe
                        </option>
					</select>
                </div>
               </div>
            
            
            <div class="form-event">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="room" 
                		th:text="#{event.room}"><span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input th:field="*{room}" type="text" id="room"  
                    		th:value="${event.room}" required="required"
                           	class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
            
       <div class="ln_solid"></div>
                <div class="event-group">
                    <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
                    <button type="submit" class="btn btn-success" th:text="#{submit}">*</button>
                </div>

</form>
    

 <script type="text/javascript">
 $( document ).ready(function() {
	 $('.timepicker').timepicker({
	      timeFormat: 'HH:mm',
	      interval: 60,
	      minTime: '8',
	      maxTime: '22:00',
	      
	      startTime: '8:00',
	      dynamic: true,
	      dropdown: true,
	      scrollbar: true
	  });
	});
 

$( function() {
    $( "#dateStart" ).datepicker();
  } );
 

</script>  
  
    
</body>
</html>
