
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title th:text="#{place.edit.title}">Edit place</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

</head>

<body>

<div id="wrap">
    <div class="clear-top">
		
		<div class="header">
		    <div th:replace="fragments/header :: headerAdmin">Header</div>
		</div>
		
		<div class="container">
		
			<h2 th:text="${addOrEdit == 'edit'} ? #{place.editplace} : #{place.addplace}">*</h2>
			<h3 th:text="${addOrEdit == 'edit'} ? ${place.name} : ' '"></h3>
			  	<div class="col-md-6 col-sm-6 col-xs-12">
			
			      <form method="post" id="place-form" th:action="${addOrEdit == 'edit'} ? @{/places/{id}/edit/(id=${place.id})} : @{/places/add}" th:object="${place}">
					  <ul th:if="${#fields.hasErrors('*')}">
			              <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			          </ul> 		         
			
			          <div class="form-group">
			              <label class="form-label" for="name" th:text="#{place.name}"><span
			                      class="required">*</span>
			              </label>
			              <div class="form-input">
			                  <input th:field="*{name}" type="text" id="name" th:value="${place.name}" required="required"
			                         class="form-control col-md-7 col-xs-12"/>
			              </div>
			          </div>
			         
			          <div class="form-group">
			              <label class="form-label" for="city" th:text="#{place.city}"><span
			                      class="required">*</span>
			              </label>
			              <div class="form-input">
			                  <input th:field="*{city}" type="text" id="city"  th:value="${place.city}" required="required"
			                         class="form-control col-md-7 col-xs-12"/>
			              </div>
			          </div>
			          
			                
			           <div class="form-group">
			              <label class="form-label" for="street" th:text="#{place.street}"><span
			                      class="required">*</span>
			              </label>
			              <div class="form-input">
			                  <input th:field="*{street}"  id="street" required="required" th:value="${place.street}"
			                         class="form-control col-md-7 col-xs-12"/>
			              </div>
			          </div>
			                    
			           <div class="form-group">
			              <label class="form-label" for="description" th:text="#{place.description}"><span
			                      class="required">*</span>
			              </label>
			              <div class="form-input">
			                  <input th:field="*{description}" id="description" th:value="${place.description}" required="required"
			                         class="form-control col-md-7 col-xs-12"/>
			              </div>
			          </div><br/><br/>
		               
		              <div class="form-group">
		                  <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
		                  <button type="submit" class="btn btn-success" th:text="#{submit}">*</button><br/><br/>
		              </div>
				</form>
			</div>
		</div>    
	</div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>

</body>

</html>