
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{event.edit.title}">Edit event</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>


</head>

<body>

<div id="wrap">
    <div class="clear-top">

		<div class="header">
		    <div th:replace="fragments/header :: header">Header </div>
		</div>
		<div class="container">
		<h2 th:text="#{event.edit.page}">*</h2>
		
		   <div class="col-md-6 col-sm-6 col-xs-12">
				<p><b th:text="#{event.series.eventType.name} + ' '"></b> <span th:text = "${event.series.eventType.name}"></span> </p>
				<p><b th:text="#{event.client} + ' '"></b> <span th:text="${event.series.client}"></span> </p>
			
		        <form method="post" id="event-form" th:action="@{/events/{id}/edit/{ide}/{ids} 
		        (id=${user.id}, ide=${event.id}, ids=${displayedSeriesId})}" th:object="${event}">
					<ul th:if="${#fields.hasErrors('*')}" >
		                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		            </ul> 		         
		
		            <div class="form-group">
		                <label class="form-label" for="dateStart" th:text="#{event.date}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input th:field="*{date}" type="text" id="dateStart" th:value="${event.date}" required="required"
		                           class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
			        <div class="form-group">
		                <label class="form-label" for="hour" th:text="#{event.hour}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input th:field="*{hour}" type="text" id="hour" th:value="${event.hour}" required="required"
		                           class="form-control col-md-7 col-xs-12 timepicker"/>
		                </div>
		          </div>
		          <div class="form-group">
		                <label class="form-label" for="eventDuration" th:text="#{event.eventDuration}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <select class="form-control" id="eventDuration" th:field="*{eventDuration}">
		                    	<option  th:value="1" th:text="#{event.eventDuration.1}">*</option>
		                        <option  th:value="2" th:text="#{event.eventDuration.2}">*</option>
		                        <option  th:value="3" th:text="#{event.eventDuration.3}">*</option>
		                        <option  th:value="4" th:text="#{event.eventDuration.4}">*</option>
		                        <option  th:value="5" th:text="#{event.eventDuration.5}">*</option>
		                        <option  th:value="6" th:text="#{event.eventDuration.6}">*</option>
		                        <option  th:value="10" th:text="#{event.eventDuration.fullDay}">*</option>
		                        <option  th:value="12" th:text="#{event.eventDuration.tillEnd}">*</option>
		                    </select>
		              </div>
		          </div>
		          <div class="form-group">
		                <label class="form-label" for="seats" th:text="#{event.seats}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input th:field="*{eventSeats}" type="number" id="seats" min="1" max="20" 
		                    		th:value="${event.eventSeats}" required="required"
		                           	class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="form-label" for="series" 
		                		th:text="#{event.series}"><span class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input th:field="*{series}" type="text" id="series"  
		                    		th:value="${event.series}" required="required"
		                           	class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
					<div class="form-group">
		                <label class="form-label" for="place" th:text="#{event.place.suggested}"><span
		                        class="required">*</span>
		                </label>
		                <div class="form-input">
		                   <select class="form-control" id="place" name="placeId">
		                        <option th:each="place : ${ourPlaces}" th:value="${{place.id}}" th:text="${place.name}" >Wireframe
                        </option>
							</select>
		                </div>
	               	</div>
		            <div class="form-group">
		                <label class="form-label" for="room" 
		                		th:text="#{event.room}"><span class="required">*</span>
		                </label>
		                <div class="form-input">
		                    <input th:field="*{room}" type="text" id="room"  
		                    		th:value="${event.room}" required="required"
		                           	class="form-control col-md-7 col-xs-12"/>
		                </div>
		            </div>
		            <br/><br/>
		            <div class="form-group">
		                    <button class="btn btn-success" onClick=goback() th:text="#{cancel}">*</button>
		                    <button type="submit" class="btn btn-success" th:text="#{submit}">*</button>
		            </div>
				</form>
			</div>
		</div>    
	</div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>


<script type="text/javascript">
 $( document ).ready(function() {
	 $('.timepicker').timepicker({
	      timeFormat: 'HH:mm',
	      interval: 60,
	      minTime: '8',
	      maxTime: '22:00',
	      
	      startTime: '8:00',
	      dynamic: true,
	      dropdown: true,
	      scrollbar: true
	  });
	});
 

$( function() {
    $( "#dateStart" ).datepicker();
  } );
 

</script>  

    
</body>
</html>
