<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title th:text="#{eventType.list.title}">Event type list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

</head>

<body>

<div id="wrap">
    <div class="clear-top">
		<div class="header">
		    <div th:replace="fragments/header :: headerAdmin">Header </div>
		</div>
		
		<div class="container">
			<h2 th:text="#{eventType.list}">*</h2>
		
			<p><a th:href="@{/eventTypes/add}" th:text="#{eventType.add}">*</a></p>
			
			<table>
			    <tr>
			    	<th th:text="#{eventType.id}">* </th>
			    	<th th:text="#{eventType.name}">* </th>
			       	<th th:text="#{eventType.description}">* </th>
			       	<th th:text="#{action}">* </th>
			    </tr>
			    <tr th:each="eventType : ${allEventTypes}">
			       <td th:text="${eventType.id}"></td>
			       <td th:text="${eventType.name}"></td>
			       <td th:text="${eventType.description}"></td>
			       <td><a th:href="@{/eventTypes/{id}/delete/(id=${eventType.id})}" th:text="#{eventType.delete}">*</a> 
			       <a th:href="@{/eventTypes/{id}/edit/(id=${eventType.id})}" th:text="#{eventType.edit}">*</a></td>
			    </tr>
			</table>
		</div>
	</div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>

</body>
</html>

