<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title th:text="#{place.list.title}">Place list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

</head>

<body>

<div id="wrap">
    <div class="clear-top">
		<div class="header">
		    <div th:replace="fragments/header :: headerAdmin">Header </div>
		</div>
		
		<div class="container">
			<h2 th:text="#{place.list}">*</h2>
			<p><a th:href="@{/places/add}" th:text="#{place.add}">*</a></p>
			<table class="table-condensed table-responsive table-hover table-striped">
			    <tr>
			    	<th th:text="#{place.id}">* </th>
			    	<th th:text="#{place.name}">* </th>
			    	<th th:text="#{place.city}">* </th>
			    	<th th:text="#{place.street}">* </th>
			    	<th th:text="#{place.description}">* </th>
			    	<th th:text="#{action}">* </th>
			    </tr>
			    <tr th:each="place : ${allPlaces}">
			       <td th:text="${place.id}"></td>
			       <td th:text="${place.name}"></td>
			       <td th:text="${place.city}"></td>
			       <td th:text="${place.street}"></td>
			       <td th:text="${place.description}"></td>
			       <td><a th:href="@{/places/{id}/delete/(id=${place.id})}" th:text="#{place.delete}">*</a> 
			       <a th:href="@{/places/{id}/edit/(id=${place.id})}" th:text="#{place.edit}">*</a></td>
			    </tr>
			</table>
		</div>
	</div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>
		
</body>
</html>

