<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<h2 th:text="#{room.list}">*</h2>

<p><a th:href="@{/rooms/add}" th:text="#{room.add}">*</a></p>
<p><a th:href="@{/users/adminPanel}" th:text="#{page.main}">*</a></p>
<table>
    <tr>
    	<th th:text="#{room.id}">* </th>
    	<th th:text="#{room.number}">* </th>
    	<th th:text="#{room.floor}">* </th>
       	<th th:text="#{room.place.name}">* </th>
    	<th th:text="#{room.seats}">* </th>
    	<th th:text="#{room.description}">* </th>
    	<th th:text="#{action}">* </th>
    </tr>
    <tr th:each="room : ${allRooms}">
       <td th:text="${room.id}"></td>
       <td th:text="${room.number}"></td>
       <td th:text="${room.floor}"></td>
       <td th:text="${room.place.name}"></td>
       <td th:text="${room.seats}"></td>
       <td th:text="${room.description}"></td>
       <td><a th:href="@{/rooms/{id}/delete/(id=${room.id})}" th:text="#{room.delete}">*</a> 
       <a th:href="@{/rooms/{id}/edit/(id=${room.id})}" th:text="#{room.edit}">*</a></td>
    </tr>
</table>
</body>
</html>

