<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css">
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

<div class="header">
    <div th:replace="fragments/header :: headerAdmin">Header </div>
</div>

<div class="container">
	<h2 th:text="#{room.list}">*</h2>
	<p><a th:href="@{/rooms/add}" th:text="#{room.add}">*</a></p>
	<table>
	    <tr>
	    	<th th:text="#{room.id}">* </th>
	       	<th th:text="#{room.place.name}">* </th>
	    	<th th:text="#{room.number}">* </th>
	    	<th th:text="#{room.floor}">* </th>
	    	<th th:text="#{room.seats}">* </th>
	    	<th th:text="#{room.description}">* </th>
	    	<th th:text="#{action}">* </th>
	    </tr>
	    <tr th:each="room : ${allRooms}">
	       <td th:text="${room.id}"></td>
	       <td th:text="${room.place.name}"></td>
	       <td th:text="${room.number}"></td>
	       <td th:text="${room.floor}"></td>
	       <td th:text="${room.seats}"></td>
	       <td th:text="${room.description}"></td>
	       <td><a th:href="@{/rooms/{id}/delete/(id=${room.id})}" th:text="#{room.delete}">*</a> 
	       <a th:href="@{/rooms/{id}/edit/(id=${room.id})}" th:text="#{room.edit}">*</a></td>
	    </tr>
	</table>
</div>
</body>
</html>

