<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>
</head>
<body>
<h2 th:text="#{room.list}">*</h2>

<p><a href="#" onClick=goback() th:text="#{back}">*</a></p>

<table>
    <tr>
    	<th th:text="#{room.id}">* </th>
       	<th th:text="#{room.place.name}">* </th>
    	<th th:text="#{room.number}">* </th>
    	<th th:text="#{room.floor}">* </th>
    	<th th:text="#{room.seats}">* </th>
    	<th th:text="#{room.description}">* </th>
    	
    </tr>
    <tr th:each="room : ${allRooms}">
       <td th:text="${room.id}"></td>
       <td th:text="${room.place.name}"></td>
       <td th:text="${room.number}"></td>
       <td th:text="${room.floor}"></td>
       <td th:text="${room.seats}"></td>
       <td th:text="${room.description}"></td>
     </tr>
</table>
</body>
</html>

