<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title th:text="#{series.list.title}">Series list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/grandReserve.css}" href="../js/grandReserve.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>

</head>

<body>

<div id="wrap">
    <div class="clear-top">
		<div class="header" th:with="ids=0">
			<div th:if="${session.user.userName == 'admin'}">
			    <div th:replace="fragments/header :: headerAdmin"></div>
			</div>
			<div th:if="${session.user.userName != 'admin'}">
			    <div th:replace="fragments/header :: header"></div>
			</div>
		</div>
		
		<div class="container">
			<h2 th:text="#{user.series.page} + ' - ' + ${user.userName}">*</h2><br/>
			<table class="table-condensed table-responsive table-hover">
			    <tr>
			    	<th th:text="#{series.id}">* </th>
			    	<th th:text="#{series.user.fullname}">* </th>
			    	<th th:text="#{series.eventType.name}">* </th>
			    	<th th:text="#{series.firstEvent.date}">* </th>
			       	<th th:text="#{series.lastEvent.date}">* </th>
			    	<th th:text="#{series.initial.hour}">* </th>
			    	<th th:text="#{series.numberOfEvents}">* </th>
					<th th:text="#{series.placeAndRoom.name}">* </th>
					<th th:text="#{series.client}"></th>
			    	<th th:text="#{action}">* </th>
			    </tr>
			    <tr th:each="seriesDTO : ${allSeries}">
					<td th:text="${seriesDTO.series.id}"> </td>
			    	<td th:text="${seriesDTO.series.user.firstName} + ' ' + ${seriesDTO.series.user.lastName} "> </td>
			    	<td th:text="${seriesDTO.series.eventType.name}"> </td>
			    	<td th:text="${#dates.format(seriesDTO.seriesStartDate, 'dd-MM-yyyy')}"> </td>
			    	<td th:text="${#dates.format(seriesDTO.seriesEndDate, 'dd-MM-yyyy')}"> </td>
			      	<td>
				      	<span th:each="hour : ${seriesDTO.seriesHours}">
				      		<span th:text="${#dates.format(hour, 'HH:mm')}"> </span>
				      	</span>
			      	</td>
			        <td th:text="${seriesDTO.numberOfEvents}"> </td>
					<td >
						<span th:each="venue : ${seriesDTO.seriesPlacesAndRooms}">
							<span th:text="${venue}">   </span>
						</span>
					</td>
					<td th:text="${seriesDTO.series.client}"></td>
			       <td><a th:href="@{/series/{id}/delete/{ids}/ (id=${user.id}, ids=${seriesDTO.series.id})}" th:text="#{series.delete}">*</a> 
			       <a th:href="@{/events/}" th:text="#{series.edit}">*</a>
			       </td>
			    </tr>
			</table>
		</div>
	</div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>

</body>
</html>

