<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" th:href="@{/css/grandReserve.css}">
<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>


</head>
<body>
<h4 th:text="#{page.main.title}">*</h4>
<h2 th:text="#{user.series.page} + ' ' + ${user.userName}">*</h2>
<p><a th:href="@{/events/{id}/ (id=${user.id})}" th:text="#{user.main.page}">*</a><br/>

<h2 th:text="#{series.list}">*</h2>

<table>
    <tr>
    	<th th:text="#{series.id}">* </th>
    	<th th:text="#{series.eventType.name}">* </th>
    	<th th:text="#{series.firstEvent.date}">* </th>
       	<th th:text="#{series.lastEvent.date}">* </th>
    	<th th:text="#{series.initial.hour}">* </th>
    	<th th:text="#{series.numberOfEvents}">* </th>
		<th th:text="#{series.placeAndRoom.name}">* </th>
		<th th:text="#{series.client}"></th>
    	<th th:text="#{action}">* </th>
    </tr>
    <tr th:each="seriesDTO : ${allSeries}">
		<td th:text="${seriesDTO.id}"> </td>
    	<td th:text="${seriesDTO.eventType.name}"> </td>
    	<td th:text="${#dates.format(seriesDTO.firstEvent, 'dd-MM-yyyy')}"> </td>
    	<td th:text="${#dates.format(seriesDTO.lastEvent, 'dd-MM-yyyy')}"> </td>
      	<td th:text="${#dates.format(event.hour, 'HH:mm')}"></td>
        <td th:text="${seriesDTO.numberOfEvents}"> </td>
		<td th:text="${seriesDTO.placeAndRoom.name}"> </td>
		<td th:text="${seriesDTO.client}"></td>
       <td><a th:href="@{/series/{id}/delete/{ids}/ (id=${user.id}, ids=${series.id})}" th:text="#{series.delete}">*</a> 
       <a th:href="@{/events/{id}/editSeries/{ids}/ (id=${user.id}, ids=${series.id})}" th:text="#{series.edit}">*</a></td>
    </tr>
</table>


</body>
</html>

