<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" th:href="@{/css/grandReserve.css}">
<script th:attr="src=@{/js/grandReserve.js}" src="../js/grandReserve.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

</head>

<body>

<div class="header">
    <div th:replace="fragments/header :: header">Header </div>
</div>

<div class="container">
<h2 th:text="#{user.series.page}">*</h2>

	<table class="table-condensed table-responsive table-hover">
	    <tr>
	    	<th th:text="#{series.id}">* </th>
	    	<th th:text="#{series.eventType.name}">* </th>
	    	<th th:text="#{series.firstEvent.date}">* </th>
	       	<th th:text="#{series.lastEvent.date}">* </th>
	    	<th th:text="#{series.initial.hour}">* </th>
	    	<th th:text="#{series.numberOfEvents}">* </th>
			<th th:text="#{series.placeAndRoom.name}">* </th>
			<th th:text="#{series.client}"></th>
	    	<th th:text="#{action}">* </th>
	    </tr>
	    <tr th:each="seriesDTO : ${allSeries}">
			<td th:text="${seriesDTO.series.id}"> </td>
	    	<td th:text="${seriesDTO.series.eventType.name}"> </td>
	    	<td th:text="${#dates.format(seriesDTO.seriesStartDate, 'dd-MM-yyyy')}"> </td>
	    	<td th:text="${#dates.format(seriesDTO.seriesEndDate, 'dd-MM-yyyy')}"> </td>
	      	<td>
		      	<span th:each="hour : ${seriesDTO.seriesHours}">
		      		<span th:text="${#dates.format(hour, 'HH:mm')}"> </span>
		      	</span>
	      	</td>
	        <td th:text="${seriesDTO.numberOfEvents}"> </td>
			<td >
				<span th:each="venue : ${seriesDTO.seriesPlacesAndRooms}">
					<span th:text="${venue}">   </span>
				</span>
			</td>
			<td th:text="${seriesDTO.series.client}"></td>
	       <td><a th:href="@{/series/{id}/delete/{ids}/ (id=${user.id}, ids=${seriesDTO.series.id})}" th:text="#{series.delete}">*</a> 
	       <a th:href="@{/events/{id}/series/{ids}/ (id=${user.id}, ids=${seriesDTO.series.id})}" th:text="#{series.edit}">*</a>
	       </td>
	    </tr>
	</table>
</div>

</body>
</html>

